*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{
--primary:#2563eb;
--dark:#0f172a;
--gray:#64748b;
--light:#f8fafc;
}

body{
font-family:'Inter',sans-serif;
color:var(--dark);
line-height:1.6;
}


.container{
width:90%;
max-width:1200px;
margin:auto;
}


/* Navbar */

header{
background:white;
position:sticky;
top:0;
z-index:10;
}


.navbar{
height:80px;
display:flex;
align-items:center;
justify-content:space-between;
}


.logo{
font-size:28px;
font-weight:800;
}


.logo span{
color:var(--primary);
}


.nav-links{
display:flex;
gap:20px;
list-style:none;
}


.nav-links a{
text-decoration:none;
color:#334155;
font-size:14px;
}



.btn{
background:var(--primary);
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
display:inline-block;
}


.btn-outline{
border:1px solid var(--primary);
color:var(--primary);
padding:12px 25px;
border-radius:8px;
text-decoration:none;
}


/* Hero */

.hero{
padding:100px 0;
background:linear-gradient(
135deg,#eff6ff,#ffffff
);
}


.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
align-items:center;
}



.hero h1{
font-size:55px;
line-height:1.1;
}


.hero p{
color:var(--gray);
margin:25px 0;
}


.hero-buttons{
display:flex;
gap:15px;
}



.dashboard{
background:#0f172a;
padding:30px;
border-radius:20px;
color:white;
}


.box{
background:#1e293b;
padding:20px;
margin-top:15px;
border-radius:10px;
}


/* Sections */

.section{
padding:80px 0;
}


.section-title{
text-align:center;
margin-bottom:40px;
}


.section-title p{
color:var(--gray);
}



.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}


.card{
padding:30px;
background:white;
box-shadow:0 10px 30px #0001;
border-radius:15px;
}



.dark{
background:#0f172a;
color:white;
}



.portfolio-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}


.project{
height:250px;
background:#1e293b;
border-radius:15px;
padding:30px;
}




.cta{
padding:80px 0;
text-align:center;
}



footer{
background:#020617;
color:white;
padding:50px 0;
}


.footer{
display:grid;
grid-template-columns:repeat(3,1fr);
}



/* Responsive */

@media(max-width:900px){

.nav-links{
display:none;
}


.hero-grid{
grid-template-columns:1fr;
}


.hero h1{
font-size:38px;
}


.cards{
grid-template-columns:1fr 1fr;
}


.portfolio-grid{
grid-template-columns:1fr;
}


.footer{
grid-template-columns:1fr;
gap:30px;
}


}