
/* Index */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{
--primary:#2563eb;
--dark:#0f172a;
--gray:#64748b;
--light:#f8fafc;
}

body{
font-family:'Inter',sans-serif;
color:var(--dark);
line-height:1.6;
}


.container{
width:90%;
max-width:1200px;
margin:auto;
}


/* Navbar */

header{
background:white;
position:sticky;
top:0;
z-index:10;
}


.navbar{
height:80px;
display:flex;
align-items:center;
justify-content:space-between;
}


.logo{
font-size:28px;
font-weight:800;
}


.logo span{
color:var(--primary);
}


.nav-links{
display:flex;
gap:20px;
list-style:none;
}


.nav-links a{
text-decoration:none;
color:#334155;
font-size:14px;
}



.btn{
background:var(--primary);
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
display:inline-block;
}


.btn-outline{
border:1px solid var(--primary);
color:var(--primary);
padding:12px 25px;
border-radius:8px;
text-decoration:none;
}


/* Hero */

.hero{
padding:100px 0;
background:linear-gradient(
135deg,#eff6ff,#ffffff
);
}


.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
align-items:center;
}



.hero h1{
font-size:55px;
line-height:1.1;
}


.hero p{
color:var(--gray);
margin:25px 0;
}


.hero-buttons{
display:flex;
gap:15px;
}



.dashboard{
background:#0f172a;
padding:30px;
border-radius:20px;
color:white;
}


.box{
background:#1e293b;
padding:20px;
margin-top:15px;
border-radius:10px;
}


/* Sections */

.section{
padding:80px 0;
}


.section-title{
text-align:center;
margin-bottom:40px;
}


.section-title p{
color:var(--gray);
}



.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}


.card{
padding:30px;
background:white;
box-shadow:0 10px 30px #0001;
border-radius:15px;
}



.dark{
background:#0f172a;
color:white;
}



.portfolio-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}


.project{
height:250px;
background:#1e293b;
border-radius:15px;
padding:30px;
}




.cta{
padding:80px 0;
text-align:center;
}



footer{
background:#020617;
color:white;
padding:50px 0;
}


.footer{
display:grid;
grid-template-columns:repeat(3,1fr);
}



/* Responsive */

@media(max-width:900px){

.nav-links{
display:none;
}


.hero-grid{
grid-template-columns:1fr;
}


.hero h1{
font-size:38px;
}


.cards{
grid-template-columns:1fr 1fr;
}


.portfolio-grid{
grid-template-columns:1fr;
}


.footer{
grid-template-columns:1fr;
gap:30px;
}


}


/* Services */


/* Technology Grid */

.tech-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}


.tech-grid div{
background:#f8fafc;
padding:30px;
border-radius:15px;
text-align:center;
font-weight:600;
line-height:2;
}



@media(max-width:900px){

.tech-grid{
grid-template-columns:1fr 1fr;
}

}


@media(max-width:500px){

.tech-grid{
grid-template-columns:1fr;
}

}



/* Portfolio */

/* Portfolio Page */


.portfolio-filter{
display:flex;
justify-content:center;
gap:15px;
margin-bottom:50px;
flex-wrap:wrap;
}


.portfolio-filter button{
padding:10px 20px;
border:none;
background:#e2e8f0;
border-radius:30px;
cursor:pointer;
}



.portfolio-filter .active{
background:#2563eb;
color:white;
}




.portfolio-showcase{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
}




.portfolio-card{
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 15px 40px #0001;
}



.image-box{
height:250px;
background:#e2e8f0;
display:flex;
align-items:center;
justify-content:center;
font-size:25px;
font-weight:700;
}



.portfolio-content{
padding:30px;
}


.tags{
display:flex;
gap:10px;
margin:20px 0;
flex-wrap:wrap;
}


.tags span{
background:#dbeafe;
color:#2563eb;
padding:5px 12px;
border-radius:20px;
font-size:14px;
}


.portfolio-content a{
color:#2563eb;
text-decoration:none;
font-weight:600;
}



.result-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
text-align:center;
}



.result-grid h2{
font-size:45px;
color:#60a5fa;
}



@media(max-width:900px){


.portfolio-showcase{
grid-template-columns:1fr;
}


.result-grid{
grid-template-columns:1fr 1fr;
}

}



@media(max-width:500px){

.result-grid{
grid-template-columns:1fr;
}

}


/* Case Studies */


.case-intro{
color:#64748b;
margin:20px 0 40px;
}



.case-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
}



.case-box{
background:#f8fafc;
padding:35px;
border-radius:20px
}


.case-box ul{
margin-top:20px;
padding-left:20px;
}



.case-box li{
margin-bottom:12px;
}


.process-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}



.process-grid div{
background:#1e293b;
padding:30px;
border-radius:15px;
}



.process-grid span{
font-size:35px;
color:#60a5fa;
font-weight:800;
}



.testimonial{
text-align:center;
padding:40px;
}


.testimonial h2{
font-size:35px;
}



@media(max-width:900px){

.case-grid{
grid-template-columns:1fr;
}


.process-grid{
grid-template-columns:1fr 1fr;
}

}


@media(max-width:500px){

.process-grid{
grid-template-columns:1fr;
}

}



/* Pricing */


.pricing-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}



.pricing-card{
background:white;
padding:40px 30px;
border-radius:20px;
box-shadow:0 15px 40px #0001;
position:relative;
}



.pricing-card h2{
font-size:45px;
margin:20px 0;
}



.pricing-card ul{
list-style:none;
margin:30px 0;
}



.pricing-card li{
margin:15px 0;
color:#475569;
}



.popular{
border:3px solid #2563eb;
transform:translateY(-15px);
}



.badge{
position:absolute;
top:-15px;
right:20px;
background:#2563eb;
color:white;
padding:8px 20px;
border-radius:20px;
}




.table-wrapper{
overflow-x:auto;
}



table{
width:100%;
border-collapse:collapse;
background:#1e293b;
}



td,th{
padding:20px;
border-bottom:1px solid #334155;
text-align:center;
}



@media(max-width:900px){


.pricing-grid{
grid-template-columns:1fr;
}


.popular{
transform:none;
}


}



/* About */


.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}



.about-grid p{
color:#64748b;
margin:20px 0;
}



.about-box{
background:#eff6ff;
padding:40px;
border-radius:20px;
text-align:center;
}



.values-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}



.values-grid div{
background:#f8fafc;
padding:30px;
border-radius:15px;
}



.timeline{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}



.timeline div{
background:#1e293b;
padding:30px;
border-radius:15px;
}



.team-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;

}



.team-card{
text-align:center;
padding:30px;
box-shadow:0 10px 30px #0001;
border-radius:20px;
}



.avatar{
height:100px;
width:100px;
border-radius:50%;
background:#2563eb;
color:white;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:25px;
font-weight:700;
}



@media(max-width:900px){


.about-grid{
grid-template-columns:1fr;
}


.values-grid{
grid-template-columns:1fr 1fr;
}


.timeline{
grid-template-columns:1fr 1fr;
}


.team-grid{
grid-template-columns:1fr;
}


}


@media(max-width:500px){

.values-grid,
.timeline{
grid-template-columns:1fr;
}

}