
/* HEADER */


.header{

background:#0F172A;

padding:20px 0;

position:sticky;

top:0;

z-index:100;

}



.nav{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:32px;

font-weight:800;

color:white;

}


.logo span{

color:#38BDF8;

}



.menu{

display:flex;

gap:35px;

list-style:none;

}



.menu a{

color:white;

font-weight:500;

}





/* HERO */


/* =========================
 PREMIUM HERO
========================= */


.hero{


position:relative;

padding:120px 0;

background:

linear-gradient(
135deg,
#020617,
#1e40af
);


overflow:hidden;

color:white;


}





.hero-glow{


position:absolute;


width:500px;

height:500px;


background:#38bdf8;


filter:blur(150px);


opacity:.25;


top:-200px;

right:-150px;


}





.hero-content{


display:flex;

align-items:center;

justify-content:space-between;

gap:60px;


position:relative;


}




.hero-text{


width:55%;


}




.hero-badge{


display:inline-block;


padding:10px 20px;


border-radius:50px;


background:

rgba(255,255,255,.1);


border:

1px solid rgba(255,255,255,.2);


backdrop-filter:blur(10px);


margin-bottom:25px;


font-size:14px;


}



.hero-text h1{


font-size:60px;

line-height:1.15;

font-weight:800;


}




.hero-text span{


background:

linear-gradient(
90deg,
#38bdf8,
#60a5fa
);


-webkit-background-clip:text;


color:transparent;


}




.hero-image{


width:40%;


}




.image-card{


padding:20px;


border-radius:30px;


background:

rgba(255,255,255,.1);


backdrop-filter:

blur(20px);


border:

1px solid rgba(255,255,255,.2);


box-shadow:

0 30px 80px rgba(0,0,0,.3);


}





.hero-stats{


display:flex;


gap:50px;


margin-top:50px;


}





.hero-stats h3{


font-size:35px;

color:#38bdf8;


}





.hero-stats p{


color:#cbd5e1;


}



/* SERVICES */


.services{

padding:90px 0;

}



.section-title{

text-align:center;

margin-bottom:50px;

}



.service-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.contact{

padding:80px 0;

background:#0F172A;

color:white;

text-align:center;

}



footer{

background:#020617;

color:white;

text-align:center;

padding:20px;

}





/* =========================
 ABOUT PAGE
========================= */


.about-hero{

padding:100px 0;

background:
linear-gradient(
135deg,
#0F172A,
#1E3A8A
);

color:white;

}



.about-content{

display:flex;

align-items:center;

justify-content:space-between;

gap:50px;

}



.about-text{

width:55%;

}



.about-text h1{

font-size:48px;

line-height:1.3;

}



.about-text p{

margin-top:25px;

font-size:18px;

color:#dbeafe;

line-height:1.8;

}



.about-image{

width:40%;

}




/* COMPANY INFO */


.company-info{

padding:90px 0;

}



.info-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

}



.info-card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

}



.info-card h2{

color:#0F172A;

margin-bottom:20px;

}



.info-card p{

color:#64748B;

line-height:1.8;

}





/* WHY CHOOSE */


.choose{

padding:80px 0;

background:#F1F5F9;

}



.choose-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}





/* STATS */


.stats{

background:#0F172A;

padding:70px 0;

color:white;

}



.stats-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

text-align:center;

}



.stats h2{

font-size:45px;

color:#38BDF8;

}


.stats p{

margin-top:10px;

}




/* =========================
 PREMIUM NAVBAR
========================= */


.header{

transition:.3s;

}



.header.scrolled{

box-shadow:

0 10px 30px rgba(0,0,0,.25);

background:#020617;

}



.menu a{

position:relative;

}



.menu a::after{


content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:#38BDF8;

transition:.3s;


}



.menu a:hover::after,
.menu a.active::after{


width:100%;


}






/* MOBILE BUTTON */


.menu-toggle{


display:none;

font-size:28px;

color:white;

cursor:pointer;


}



/* =========================
 TRUST SECTION
========================= */


.trust-section{


padding:100px 0;


background:#f8fafc;


}





.trust-content{


display:flex;

align-items:center;

justify-content:space-between;

gap:60px;


}





.trust-text{


width:45%;


}




.small-title{


color:#2563EB;

font-size:14px;

font-weight:700;

letter-spacing:2px;


}





.trust-text h2{


font-size:45px;

line-height:1.2;

margin:20px 0;


color:#0F172A;


}





.trust-text p{


color:#64748B;

line-height:1.8;

font-size:18px;


}






.trust-stats{


width:50%;


display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;


}






.stat-card{


padding:35px;


background:white;


border-radius:25px;


box-shadow:

0 20px 50px rgba(15,23,42,.08);


border:

1px solid #e2e8f0;


transition:.3s;


}





.stat-card:hover{


transform:

translateY(-10px);


border-color:#38BDF8;


box-shadow:

0 25px 60px rgba(37,99,235,.15);


}





.stat-card h3{


font-size:45px;

color:#2563EB;


}



.stat-card p{


margin-top:10px;

color:#64748B;


}