@media(max-width:991px){

.section{

padding:70px 0;

}

}


@media (max-width:991px){

.topbar{

display:none;

}

.navbar{

top:0;

background:#0f172a;

}

.navbar-collapse{

margin-top:20px;

padding:20px;

border-radius:16px;

background:#0f172a;

}

.nav-link{

margin-left:0;

padding:12px 0;

}

.btn{

margin-top:20px;

width:100%;

}

}



@media (max-width:991px){

.hero{

text-align:center;

padding:120px 0 80px;

}

.hero-title{

font-size:40px;

}

.hero-text{

margin:auto;

}

.hero-buttons .btn{

display:block;

width:100%;

margin:10px 0;

}

.floating-card{

display:none;

}

}



@media(max-width:768px){


.stats{

padding:50px 0;

}


.stat-box h2{

font-size:35px;

}


}



@media(max-width:991px){


.about-section{

padding:70px 0;

}


.about-content h2{

font-size:32px;

}


.experience-box{

right:15px;

bottom:15px;

padding:20px;

}


}


@media(max-width:991px){


.services-section{

padding:70px 0;

}


.services-section h2{

font-size:32px;

}


.service-card{

padding:30px 25px;

}


}



@media(max-width:991px){


.why-section{

padding:70px 0;

}


.why-section h2{

font-size:32px;

}


.skills-box{

padding:30px;

}


}


@media(max-width:991px){


.testimonial-section{

padding:70px 0;

}


.testimonial-section h2{

font-size:32px;

}


}



@media(max-width:991px){


.cta-section{

padding:70px 0;

}


.cta-box{

padding:40px 25px;

text-align:center;

}



.cta-box h2{

font-size:32px;

}



.cta-box .btn{

display:block;

width:100%;

margin:15px 0 0;

}



}


@media(max-width:991px){


.footer{

padding:60px 0 20px;

}


.footer-bottom{

margin-top:20px;

}


}